<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>${title}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/main.js" async defer></script>
</head>

<body>
    <header>
        <nav>
            <a href="#home"></a>
            <a href="#content"></a>
            <a href="#user"></a>
        </nav>
    </header>
    <div class=".container">
        {{page}}
    </div>
    <div class="dialog">
        <div class="content">
            <button id="close">close</button>
            <div class="movie-details">

            </div>
        </div>
    </div>
    <div class="button" id="dialogButton">movie</div>
</body>

</html>