<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>${title}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
    <script src="./js/main.js" async defer></script>
</head>

<body>
    <div class="container-fluid fixed-top">
        ${navigation}
    </div>
    <div class="container w-75 m-auto">
        
        <div class="row d-flex align-content-between flex-wrap pt-5">
            <div class="container p-5"> 
                <a href="/newMovie" class="btn btn-primary" id="addMovie">Add Movie</a>
            </div>
            ${movies.map(movie => `
            <div class="card m-3" style="width: 18rem;">
                <img src="${movie.image}" class="card-img-top" alt="${movie.title}">
                <div class="card-body">
                    <h5 class="card-title">${movie.title}</h5>
                    <p class="card-text">${movie.description}</p>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#movie_${movie.id}"
                        class="btn btn-primary">Details</a>
                </div>
            </div>
            <div class="modal fade pt-5" id="movie_${movie.id}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable pt-5" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-light">
                            <h5 class="modal-title" id="exampleModalLabel">${movie.title}</h5>
                        </div>
                        <div class="modal-body">
                            <img class="card-img-top" src="${movie.image}" alt="Card image cap">
                            <div class="container pt-3">
                                ${movie.description}
                            </div>
                        </div>
                        <div class="modal-footer bg-light">
                            <button type="button" class="btn btn-outline-secondary"
                            data-bs-dismiss="modal" id="${movie.id}_delete">Delete</button>
                            <button type="button" class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="${movie.id}_favourite">Favourite</button>
                        </div>
                    </div>
                </div>
            </div>
            `).join('')}
        </div>
    </div>
    <div class="container-fluid fixed-bottom">
        ${footer}
    </div>
</body>

</html>