<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>${title}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
    <script src="./js/main.js" async defer></script>
</head>

<body>
    <div class="container-fluid fixed-top">
        ${navigation}
    </div>
    <div class="container-fluid mt-5">
        <div class="container p-5 mt-5">
            <h1>Tabela de conteúdos</h1>
            <p class="row">
                Podes usar esta tabela de conteúdos para encontrar tudo o que precisas na nossa política de privacidade. Clica num endereço para uma secção em específico para aceder.<br><br>

                Resumo de alterações<br>
                Obrigado por usares o Pinterest!<br>
                Recolhemos informações de várias formas<br>
                O que fazemos com as informações recolhidas<br>
                Transferir as tuas informações<br>
                Escolhas que podes fazer quanto às tuas informações<br>
                Como e quando partilhamos as informações<br>
                Durante quanto tempo guardamos as tuas informações<br>
                A nossa política quanto a informações de crianças<br>
                As tuas opções<br>
                Residentes do EEE<br>
                Residentes da Califórnia<br>
                Que alterações vamos fazer a esta política<br>
                Contacta-nos
            </p>
            <h1>Resumo de alterações</h1>
            <p class="row">
                Acrescentámos mais detalhes sobre os dados que recolhemos e como são usados, assim como uma nova forma de controlar se são usados para criar relatórios sobre o desempenho dos anúncios.<br><br>

                Adicionámos novas informações para os utilizadores residentes na Califórnia.
            </p>
            <h1>Obrigado por usares o OctoMovies!</h1>
            <p class="row">
                A nossa missão é oferecer inspirações para criares o que mais desejas para a tua vida. Para fazer isso, indicamos-te conteúdo e anúncios personalizados que julgamos ser do teu interesse com base em informações que recolhemos através de ti e de terceiros. Usamos estas informações apenas quando temos uma base legal para o fazer. <br><br>

Escrevemos esta política para ajudar-te a compreender que tipo de informações recolhemos, como são usadas e que escolhas tens. Como somos uma empresa online, alguns dos seguintes conceitos podem ser um pouco técnicos, mas demos o nosso melhor para explicar tudo de forma simples e clara. Agradecemos que envies quaisquer perguntas e comentários sobre esta política.
            </p>
        </div>
    </div>
    <div class="container-fluid fixed-bottom">
        ${footer}
    </div>
</body>

</html>