html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

*{
    clear: both;
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    text-transform: none;
}